In [31]:
# Dependencies
import pandas as pd
import json
import requests
#from config import api_key

In [34]:
with open('ColoCitiesDataClean.csv') as f:
    print(f)

<_io.TextIOWrapper name='ColoCitiesDataClean.csv' mode='r' encoding='cp1252'>

In [35]:
latlon_df = pd.read_csv("./ColoCitiesDataClean.csv", encoding='cp1252')
latlon_df.head()

  Place Name        lat         lon
0    Aguilar  37.403611 -104.655000
1      Akron  40.163333 -103.220278
2    Alamosa  37.475278 -105.876944
3       Alma  39.285833 -106.066944
4   Antonito  37.076111 -106.010278

In [43]:
# Save config information

url = "http://api.openweathermap.org/data/2.5/air_pollution?"
api_key= "90d059c74bd13bcc4087b66e982c1bf1"
lat=37.40361111
lon=-104.655

query_url = f"{url}lat={lat}&lon={lon}&appid={api_key}"
air_response = requests.get(query_url).json()

print(air_response)

{'coord': {'lon': -104.655, 'lat': 37.4036}, 'list': [{'main': {'aqi': 2}, 'components': {'co': 166.89, 'no': 0.03, 'no2': 0.87, 'o3': 111.58, 'so2': 0.19, 'pm2_5': 13.11, 'pm10': 16, 'nh3': 0.92}, 'dt': 1626138000}]}

In [ ]:
# Save config information

url = "http://api.openweathermap.org/data/2.5/air_pollution?"
api_key= "90d059c74bd13bcc4087b66e982c1bf1"

# Counter to sort through response
number = 0
group = 1

for index, row in latlon_df.iterrows():
    
    lat = row["lat"]
    lon = row["lon"]
    #print(lat)
    #print(lon)
    query_url = f"{url}lat={lat}&lon={lon}&appid={api_key}"
    air_response = requests.get(query_url).json()
 
    try:
        print(f"Processing Record {number}  of Group {group} | {lat}{lon}.")
        
        print (query_url) 
    
        #latlon_df.loc[index, "lat"] = air_response["lat"]["lon"]  
        #latlon_df.loc[index, "lon"] = air_response["lat"]["lon"]
        
    except:
        print(f"Air isn't available...skipping {lat}.")
    
    # To save money on API calls
    number = number + 1
    if number == 50:
        number= 0
        group = group + 1

In [33]:
# Get weather data
aq_response = requests.get(query_url)

# Get the temperature from the response
print(f"The weather API responded with: {air_json}.")

The weather API responded with: {'coord': {'lon': 50, 'lat': 50}, 'list': [{'main': {'aqi': 1}, 'components': {'co': 153.54, 'no': 0, 'no2': 0.5, 'o3': 47.21, 'so2': 0.97, 'pm2_5': 0.98, 'pm10': 1.11, 'nh3': 0.28}, 'dt': 1626138000}]}.

  Place Name        lat         lon
0    Aguilar  37.403611 -104.655000
1      Akron  40.163333 -103.220278
2    Alamosa  37.475278 -105.876944
3       Alma  39.285833 -106.066944
4   Antonito  37.076111 -106.010278

<_io.TextIOWrapper name='ColoCitiesDataClean.csv' mode='r' encoding='cp1252'>